<%= form_for(@cup) do |f| %>
  <% if @cup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cup.errors.count, "error") %> prohibited this cup from being saved:</h2>

      <ul>
      <% @cup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :drank_by %><br />
    <%= f.text_field :drank_by %> 
  </div>
  
  <div class="field">
    <%= f.label :memo %><br />
    <%= f.text_field :memo %> 
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
