<h1>Listing cups</h1>

<table>
  <tr>
    <th>Consumed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cups.each do |cup| %>
  <tr>
    <td><%= cup.created_at %></td>
    <td><%= link_to 'Show', cup %></td>
    <td><%= link_to 'Edit', edit_cup_path(cup) %></td>
    <td><%= link_to 'Destroy', cup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cup', new_cup_path %>
