<p id="notice"><%= notice %></p>
<h1>Cup <%= @cup.id %></h1>
<p>
Consumed <%= time_ago_in_words(@cup.created_at) %> ago by <%= @cup.drank_by %>.
</p>

<% if @cup.memo %>
<p><strong>memo:</strong>
<%= @cup.memo %>
</p>
<% end %>


<%= link_to 'Edit', edit_cup_path(@cup) %> |
<%= link_to 'Back', cups_path %>
