<!DOCTYPE html>
<html>
<head>
  <title>Death by Coffee</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" %>
  <%= javascript_include_tag 'rails', 'application' %>
  <%= javascript_include_tag 'jquery.flot.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
